.header-bg{
    background-image: url(../../assets/wavy_bg.jpg);
    max-height: 140px;
    min-height: 70px;
    width: 100%;
    margin-top: 0;
}

.header-bg img{
    max-height: 130px;
    
    margin-top: 5px;
}
.facebook{
    font-size: 28px !important;
    color: #4267B2 !important;
    border-radius: 15px !important;
}
.facebook:hover{
    transform: scale(1.2);  
}
