.header-bg{
    background-image: url(../../assets/wavy_bg.jpg);
    max-height: 155px;
    min-height: 70px;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-bg img{
    max-height: 150px;
    
}
.facebook{
    font-size: 24px !important;
    color: #4267B2 !important;
    border-radius: 15px !important;
}
.facebook:hover{
    transform: scale(1.2);  
}
