.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.book-termin{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.card-termin{
    margin-top: 15px;
    flex-grow: 10 !important;
    align-self: center !important
}
.header-termin{
    background-color: #2b3b65 !important;
}

.card-deck {
    
    justify-content: space-between;
  }
  
  .card-deck .card {
    margin: 0 0 1rem;
    border: 0;
    border-radius: 0;
    
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .card {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 879.98px) {
    .card-deck .card {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
    }
  }
  
  @media (min-width: 880px)
  {
    .card-deck .card {
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
    }
  }