.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.book-termin{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.card-termin{
    margin-top: 15px;
    flex-grow: 10 !important;
    align-self: center !important
}
.header-termin{
    background-color: #2b3b65 !important;
}
